.body{
    background-color: aqua;
}
#contenedor{
    display: grid;
    background-color: lightgrey;
    grid-template-columns: repeat(3, 33%);
    margin: 15% 20% auto 20%;
}
#titulo{
    text-align: center;
    grid-column: 1/4;
    grid-row: 1;
}
#sueldo{
    text-align: center;
    grid-column: 1;
    grid-row: 2;
}
